.photo {
    float: left;
    width: 270px;
    height: 430px;
    margin-left: 20px;
    margin-top: 20px;}


.photo img {
    border: 4px solid #99c9e9;
    border-radius: 10%;
    width: 270px;
    height: 360px; 
    position: absolute;
}

.photo > h4 {
    width: 270px;
    border: 2px solid #99c9e9;
    border-radius: 10%;
    text-align: center;
    font-size: 22px;
    padding-top: 365px;
}

.ppview {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alt-cizgi {
    border-bottom: 2px solid rgb(218, 215, 215);
}


.not-visible {
    display: none;
}